<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.1.slim.js"
        integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Dashboard - Time Master</title>
</head>

<body>
    <div class="content">
        {% include 'flash.html' %}
    </div>
    <div class="sidebar" style="margin-top: 10px;">
        <img src="logo.jpg" alt="" class="img" />
        <div class="side-1 sid"><a href="#"><i class="bi bi-house"> Dashboard</a></i></div>
        <div class="sid"><a href="#"><i class="bi bi-person">Edit Profile</a></i></div>
        <div class="sid"><a href="#"><i class="bi bi-clock">Time Tracker</a></i></div>
        <div class="sid side-2"><a href="#"><i class="bi bi-door-open-fill">Logout</a></i></div>
    </div>

    <div class="search">
        <form action="">
            <input type="text" class="s-search" placeholder="Search projects,tasks, people and more">
        </form>
    </div>

    <div class="dash">
        <div>
            <h4>Hello Musty,</h4>
            <p>Let’s have a productive day !</p>
        </div>
        <div>
            <h4>Overview</h4>
        </div>
        <div class="overview">
            <div class="overf">
                <h3>Project Overview</h3>
                <p>At the end of the month the team’s effectiveness has drastically improved by 20%</p>
                <div class="rowa">
                    <div class="over"></div>
                    <div class="overa">
                        <p>Total task</p>
                        <p>24</p>
                        <p>Total task</p>
                        <p>24</p>
                        <p>Total task</p>
                        <p>24</p>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</body>

</html>
