<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script>
            window.onload = function() {
                const url_1 = 'http://127.0.0.1:5001/api';
        
                // Function to delete project
                function ProjectDelete(element) {
                    const d = $(element).data('id');
                    console.log(d);
                    $.ajax({
                        url: url_1 + '/projects/' + d,
                        method: 'DELETE',
                        success: function() {
                            location.reload();
                            alert('The project has been successfully deleted.');
                        },
                        error: function() {
                            alert("The project cannot be deleted.");
                        }
                    });
                }
        
                // Usage
                $('.del').click(function() {
                    ProjectDelete(this);
                });
            };
        </script>
        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Sora:wght@200;400;600&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/project.css">
    <title>Projects - Time Minder</title>
</head>

<body>
    <div class="row container-fluid">
        <div class="col-md-6 first"><img src="../static/images/logo.jpg" alt=""></div>
    </div>
    <h3 class="text-center p-head">YOUR PROJECTS</h3>
    </div>
    <div class="table">
        {% if project %}
        <table>
            <thead>
                <th>S/N</th>
                <th>Name</th>
                <th>Created Date</th>
                <th>Expiry date</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for pro in project %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="">{{ pro.name }}</a></td>
                    <td>{{ pro.created_at }}</td>
                    <td>{{ pro.expiry_date }}</td>
                    <td>Ongoing</td>
                    <td><a href="{{ pro.id }}/edit" class="btn btn-primary btn-md">Edit</a></td>
                    <td><button  data-id="{{ pro.id }}" class="btn btn-primary btn-md del">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
             <div><p>You  have no project currently</p></div>
            {% endif %}
        </table>
    </div>
    <div class="b-left"><a href="/project/create" class="btn btn-primary btn-md">New Project</a></div>

    <div class="futa">@minder-2023</div>
    <script src="../static/js/script.js"></script>

</body>

</html>
